<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/sign_in_styles.css">
</head>
                
<body>
                    
                        
    <h1>Sign In</h1>
    <div class = "sign_in_box">
        <form action="{{ url_for('sign_in') }}" method="POST">
        
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="(Max 15 characters)" minlength="3" maxlength="15" name="username" required>
                                                    
            <br><br>
                                                            
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="(Min 5 characters)" minlength="5" name="password" required>
                                                                            
            <br><br>
                                                                                    
            <button class="btn-dark-modern" type="submit">Sign in</button>
                                                                                                    
            </form>
            </div>
                                        
            <br><br>
                                        
            <a class="btn-dark-modern" href="/"> Return Home </a>
                                        
    </body>
</html>>